/* Paims visas html žymas (html, body, div, h1, p...) */
* {	border: 2px solid black; }

/* Paims tik nurodytą html žymą */
div { margin: 20px; }

/* Paims elementą su nurodytu id */
#idselektorius { border-color: red; }

/* Paims elementą(-us) su nurodyta klase */
.klase { border-color: green; }

/* Paims tik nurodytus elementus, jie atskirti kableliais */
h1, p { font-family: "Calibri"; }

/* Paims visus elementus esančius tam tikrame elemente: tėvinis-elementas ieškomas-elementas */
div div { background-color: yellow; }

/* Būsenos selektorius, rašomas per dvitaškį ir nurodant konkrečią būseną */
p:hover { background-color: red; }